.button{
    border: 2px solid lightblue;
    background: transparent;
    font-family: 'Roboto';
    height: 50px;
    border-width: thin;
    font-size: 45px;
    border-radius: 10px;
    margin: auto;
    margin-bottom:25px;
    transition: .3s;
    text-align: center;
    line-height: 50%;
    display: inline-block;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  .btn-group button {
    color: lightblue; /* White text */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
  }

  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: rgb(136, 72, 136);
  }