@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
* {
  margin: 0;
  padding: 0;
}

body {
  background: #30333A;
  margin-top: 25%;
  margin-left: -25%;
  position: relative;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

ul {
  list-style: none;
}

ul li {
  width: 75px;
  height: 75px;
  position: relative;
  background: #e59500;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

ul li .fa {
  position: absolute;
  align-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  color: #fff;
}

ul li.twitter{
  background: #00aced;
}

ul li.instagram{
  background: #bc2a8d;
}

ul li.facebook{
  background: #4267B2;
}

ul li.github{
  background: #333;
}

ul li.stack-overflow{
  background: #FF9900;
}

ul li.reddit{
  background: #FF5700;
}

ul li.steam{
  background: #2a475e;
}

ul li.medium{
  background: #212121;
}

ul li.youtube{
  background: #FF0000;
}

ul li.email{
  background: #34A853;
}

ul li.twitter div.slider{
  background: #00aced;
}

ul li.instagram div.slider{
  background: #bc2a8d;
}

ul li.facebook div.slider{
  background: #4267B2;
}

ul li.github div.slider{
  background: #333;
}

ul li.stack-overflow div.slider{
  background: #FF9900;
}

ul li.reddit div.slider{
  background: #FF5700;
}

ul li.steam div.slider{
  background: #2a475e;
}

ul li.medium div.slider{
  background: #212121;
}

ul li.youtube div.slider{
  background: #FF0000;
}

ul li.email div.slider{
  background: #34A853;
}

.slider {
  content: "";
  position: absolute;
  top: 0;
  left: 80px;
  width: 0px;
  height: 75px;
  background: #eebb5c;
  border-radius: 5px;
  transition: all 0.3s 0.3s ease;
}

.slider p {
  margin: auto;
  padding: 10px;
  font-family: Verdana;
  font-size: 25px;
  font-weight: bold;
  color: whitesmoke;
  text-align: center;
  line-height: 50px;
  opacity: 0;
  transition: all 0.2s ease;
}

ul li:hover .slider {
  width: 180px;
  transition: all 0.3s ease;
}

ul li:hover .slider p {
  opacity: 1;
  transition: all 0.1s 0.2s ease;
}